{% load static %}
{% load portal_tags %}


	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<!-- Footer Cagories Open-->
					<h4  class="stext-301 cl0 p-b-30">
						Categories
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="{% get_category_url_by_name_contains "visiting card" %}" class="stext-107 cl7 hov-cl1 trans-04">
								Visiting Cards
							</a>
						</li>

						<li class="p-b-10">
							<a href="{% get_category_url_by_name_contains "pen" %}" class="stext-107 cl7 hov-cl1 trans-04">
								Pens
							</a>
						</li>

						<li class="p-b-10">
							<a href="{% get_category_url_by_name_contains "id card" %}" class="stext-107 cl7 hov-cl1 trans-04">
								id Cards
							</a>
						</li>
                        <li class="p-b-10">
							<a href="{% url "products:category_list" %}" class="stext-107 cl7 hov-cl1 trans-04">
								All Categories
							</a>
						</li>

						<li class="p-b-10">
							<a href="{% get_category_url_by_name_contains "wholesale" %}" class="stext-107 cl7 hov-cl1 trans-04">
								Wholesale Materials
							</a>
						</li>


					</ul>
				</div>
				<!-- Footer Cagories Close-->

				<!--POLICIES OPEN-->
				<div  class="col-sm-6 col-lg-3 p-b-50">
					<h4  class="stext-301 cl0 p-b-30">
						Policies
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="{% url "portal:terms_and_conditions" %}" class="stext-107 cl7 hov-cl1 trans-04">
								Terms & Conditions
							</a>
						</li>

					</ul>
				</div>
				<!--POLICIES CLOSE-->


				<div  class="col-sm-6 col-lg-3 p-b-50">
					<h4  class="stext-301 cl0 p-b-30">
						GET IN TOUCH
					</h4>
					<p style="color: #E5F988;">We deliver FREE all over Kondhwad Khurd. We are available from Mon-Sat 6 pm - 10 pm</p>
					<br>

					<p class="stext-107 cl7 size-201">
						Do you have any questions with us ? Conatct : +91 7769082463
					</p>
					<p class="stext-107 cl7 size-201">
						alphahub27@gmail.com
					</p>
					<p class="stext-107 cl7 size-201">
						Kondhwa Khurd Pune-411048
					</p>
				</div>


				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4  class="stext-301 cl0 p-b-30">
						Media
					</h4>
					<a href="https://www.facebook.com/alphacard.printing" class="fs-25 cl7 hov-cl1 trans-04 m-r-16" target="_blank" >
							<i class="fa fa-facebook"></i>
					</a>
					<a href="https://www.instagram.com/alphahubprinting/" class="fs-25 cl7 hov-cl1 trans-04 m-r-16" target="_blank">
						<i class="fa fa-instagram"></i>
					</a>
					<a href="https://www.youtube.com/channel/UCVnYi7zrxkVboBgAzb0_r3Q" class="fs-25 cl7 hov-cl1 trans-04 m-r-16" target="_blank">
						<i class="fa fa-youtube"></i>
					</a>
				</div>
				<!--Newletter-->

			</div>

			<div>
                <div class="flex-c-m flex-w p-b-20">
					<a href="#" class="m-all-1">
						<img src="{% static "images/icons/icon-pay-01.png" %}" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="{% static "images/icons/icon-pay-02.png" %}" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="{% static "images/icons/icon-pay-03.png" %}" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="{% static "images/icons/icon-pay-04.png" %}" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="{% static "images/icons/icon-pay-05.png" %}" alt="ICON-PAY">
					</a>
				</div>

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
	<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>
