{% extends "portal/base.html" %}
{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}
{% block content %}


    <style>
        .text-muted{
            color: black!important;
        }
    </style>
    <div class="" style="margin: 50px 10px">
        <div class="col-lg-8 jumbotron text-white" style="background-color: #717fe0; margin: auto">
            <h3 class="text-center font-weight-bold">Login</h3>
            <form action="{% url "accounts:login" %}" method="post">
{#                <input name="next" value="{% url "carts:cart_view" %}" type="hidden">#}
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn bg-white font-weight-bold text-dark" type="submit" value="Login">
            </form>
            <br>
            <span class="float-right font-weight-bold">Dont have an account! <a href="{% url "accounts:register" %}" class="font-weight-bold text-white"><u>Create new account</u></a></span>

        </div>

    </div>
{% endblock %}